


#artists

  .wrapper
      
    each artist in artists
      
      a.artist.selected(data-name=`${artists.name}` href=`${artists.name}`)
        .icon-bio
        img(src=`${artists.image}` alt=`${artists.name}`)
        h2 Kanye West
        
        .modal(id=`${artists.name}` data-name=`${artists.name}`)
          .bio
            p #{artists.description}
